/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #9C9C9C;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #efece4;
}
a {
  text-decoration: none;
}

p {
  font-size: 18px;
}

/******************************************
/* slide menu
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 960px;
  margin: 0 auto;
  background-color: #efece4;
  text-align: center;
}

.containerimage {
  width: 100%;
  height: 2000px;
  padding: 10px 35px;
  background: url(../images/aboutBack.svg) no-repeat top center #131e27;
  background-position: 50px 270px; 
  padding-top: 32px;
  background-size:80%;
  background-color: #efece4;
  margin: 0 auto;
  

}

}

.container2 {
  width: 50%;
  padding: 70px 35px;
  
  background-color: #efece4;
  float: left;
}

.container2image {
  width: 50%;
  height: 500px;
  padding: 10px 35px;
  background: url(../images/home.png) no-repeat top center #131e27;
  padding-top: 32px;
  background-size:80%;
  background-color: #efece4;
  float: left;

}

.container2 li {
  text-align: center;
  font-size: 20px;
}

.container2 p {
  text-align: center;
  color: #B0B0B0;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 35px;
}

.container3 {
  width: 33%;
  padding: 10px 20px;
  
  background-color: #efece4;
  float: left;
}

.container3 img {
  width:75px;
  display: block;
    margin: 0 auto;
    
}

.containerFacts {
  width: 960px;
  margin: 0 auto;
  background-color: #efece4;
  text-align: left;
}


.contactDetail1 {
  font-size:22px;
  color: #664e93;
}

.contactDetail1:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contactDetail2 {
  font-size:22px;
  color: #606161;
  
}

.container3 p {
  text-align: center;
  color: #B0B0B0;
  margin-top: 20px;
  font-size: 16px;
  padding: 0 10px;
}

.container3 h4 {
  text-align: center;
  color: black;
  margin-top: 6px;
  font-size: 28px;
  margin-bottom: 20px;
}

.logo {
  font-size: 24px;
  font-weight: 400;
  color: #9C9C9C;
  margin-right: 10px;
  cursor: pointer;
}
.logo:hover {
  color:#8861A9;
}

.tag {
  font-size: 12px;
  font-weight: 400;
  color: #9C9C9C;
  
}

.menuIcon {
  float: right;
  
}

header .fa-bars {
  float: right;
  margin-top: 5px;
  margin-right: 0px;
  color: #9C9C9C;
  visibility: visible;
}
.fa-bars:hover {
  color:#8861A9;
}

header {
  background: #efece4;
  padding: 25px 0;
  overflow: hidden;
}
header .logo {
  color: #9C9C9C;
  float: left;
}

header .tag {
  color: #9C9C9C;
  float: left;
  position: relative;
  margin-top: 14px;

}



header nav {
  float: right;
  margin-top: 15px;
}
header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
}
header nav ul li a {
  color: #f9e42e;
}
.fa-bars {
  visibility: hidden;
  
}



#pageIntro {
  height: auto;
  padding-top: 32px;
  background: #efece4;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}

#pageIntro p {
  margin-bottom: 35px;

}



#faq {
  height: auto;
  padding-top: 32px;
  background: #efece4;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: left;

}

#faq dt a {
  color:#664E93; 
  font-size: 24px;
  text-align: left;

}
#faq dt a:hover {
  color:#906bd5; 
  
}

#faq dd {
  color:#B0B0B0; 
  font-size: 18px;
  text-align: left;
}


#facts {
  height: auto;
  padding-top: 32px;
  background: #efece4;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: left;
}

#facts h3 {
  color:#B0B0B0; 
  font-size: 30px;
}

#facts h4 {
  color:#664E93; 
  font-size: 20px;
  text-align: left;
  margin-bottom: 15px;
}

#facts p {
  color:#B0B0B0; 
  font-size: 16px;
  text-align: left;
  margin-bottom: 15px;
}

#facts a {
  color:#664E93; 
  
}

#facts li {
  
  font-size: 16px;
  text-align: left;
  color: #B0B0B0;
  margin-bottom: 20px;
  
  list-style: none;
  margin-left: 20px;
}

#facts li:before {    
font-family: 'FontAwesome';
content: '\f067';
margin:0 5px 0 -20px;
color: :#664E93 !important;
}


#hero {
  height: 700px;
  background: url(../images/header_bg.jpg) no-repeat top center #131e27;
  padding-top: 32px;
  background-size:cover;
}

#hero .logo {
  color: #fff;
}
#hero h2 {
  font-size: 48px;
  text-align: center;
  color: #fff;
  margin: 120px 0 90px;
  font-weight: 600;
}
.button {
  border-radius: 1px;
  font-weight: 400;

  padding: 12px 0;
  width: 280px;
  font-size: 14px;
  text-align: center;
  display: block;
  margin: 0 auto;
  color:#8861A9;
  border:1px;
  border-color: #8861A9;
  border-style: solid;
}

.button:hover {
  border-radius: 1px;
  font-weight: 400;
  padding: 12px 0;
  width: 280px;
  font-size: 14px;
  text-align: center;
  display: block;
  margin: 0 auto;
  background: #8861A9;
  color: #ffffff;
}


/*.blue {
  background: #033048;
  color: #fff;
  font-size: 24px;
} */
#benefits {
  padding: 100px 0 80px;
}
h3 {
  color: #033048;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

h4 {
  color: #9C9C9C;
  font-size: 12px;
  font-weight: 400;
  vertical-align: text-bottom;
  }

  hr {
    width: 50px;
  border-width: 2px;
    text-align: center;
  }

#benefits p, #benefits ul {
  width: 600px;
}
#benefits ul {
  list-style: disc;
  margin: 30px 0 0 80px;
}
#testimonial {
  background: url(../images/testimonial_bg.jpg) no-repeat top center #071324;
  padding: 70px 0 70px;
  color: #fff;
  background-size: cover;
}
blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 580px;
  margin: 0 auto;
}
blockquote span {
  font-weight: 600;
  display: block;
  font-style: normal;
}
#main {
  margin-top: 80px;
}
#posts {
  width: 700px;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}
#sidebar {
  width: 240px;
  display: inline-block;
  vertical-align: top;
}
.post {
  border-bottom: 1px solid #043049;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.post h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 30px;
}
.post h2 a {
  color: #043049;
}

.post img {
  margin-bottom: 30px;
}
.post p {
  font-size: 24px;
  line-height: 1.333;
  color: #606161;
}
.post p:first-of-type:first-letter {
  float: left;
  font-size: 80px;
  line-height: 65px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: 600;
}
.readmore {
  text-align: right;
  margin-top: 30px;
}
.readmore a {
  color: #043049;
  font-weight: 600;
}

/*.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.yellow {
  background: #f9e42e;
  color: #033048;
}
.blue {
  background: #033048;
  color: #fff;
  font-size: 24px;
}*/

#sidebar h3 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
  color: #043049;
}
#sidebar ul {
  margin-bottom: 40px;
}
#sidebar ul li a {
  color: #043049;
  font-size: 24px;
}
#sidebar p {
  font-size: 22px;
  line-height: 1.1;
  margin-bottom: 40px;
}
#sidebar p a {
  color: #043049;
  font-weight: 600;
}

#bottom-cta {
  background: #f9e42e;
  padding: 30px;
  text-align: center;
}

footer {
  background: #121212;
  padding: 65px 0 45px;
  text-align: center;
}
footer .logo {
  color: #f9e42e;
  margin-bottom: 68px;
}
footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px;
}
footer p {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

 @media screen and (max-width:1080px) and (min-width: 320px) {
  nav ul {
    display: none;
  }
  header .fa-bars {
  float: right;
  margin-top: 5px;
  margin-right: 0px;
  color:#9C9C9C;
  visibility: visible;
}
.fa-bars:hover {
  color:#8861A9;
}

.container {
  width: 90%;
}

blockquote {
  font-size: 24px;
  width: 380px;
}

#benefits p, #benefits ul , #benefits h3{
  text-align: center;
  width: 100%;
  margin:0 auto;
  list-style: none;
}

#benefits ul {
  font-size: 20px;
  padding-bottom:20px;
}

#benefits p {
  margin-bottom:30px;
  font-size: 24px;
  color:black;
  width: 70%;

} 


/*

@media screen and (max-width:767px) and (min-width: 320px) {
  nav ul {
    display: none;
  }
  header .fa-bars {
  float: right;
  margin-right: 40px;
  color:white;
}
.container {
  width: 70%;
}

#benefits p, #benefits ul , #benefits h3{
  text-align: center;
  width: 100%;
  margin:0;
 list-style: none;
 visibility: visible;
}
}
*/


}
  



